@font-face {
    font-family: AbhayaLibre;
    src: url(../fonts/abhaya-libre/ttf/AbhayaLibre-Regular.ttf);
}

@font-face {
    font-family: AbhayaLibre;
    src: url(../fonts/abhaya-libre/ttf/AbhayaLibre-Bold.ttf);
    font-weight: 700;
}
